<form action="cadastro" method="post">
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% csrf_token %}
    <label for="">Arroba 
        <input type="text" name="username" id="">
    </label><br>
    <label for="">Email 
        <input type="email" name="email" id="">
    </label><br>
    <label for="">Senha 
        <input type="password" name="password" id="">
    </label>

    <input type="submit" value="aaa">
</form>